@using DirectScale.Disco.Extension.Services
@using WebExtension.Services
@using WebExtension.Views.Model
@inject OrderWebService OrderService

@{
    ViewBag.PageTitle = "Invoice";
    var invoice = (Invoice)ViewData["InvoiceData"];
}

<style type="text/css" src="/css/invoice.css"></style>

<div class="container">
    <h2 class="center">Shipping Invoice</h2>
    <partial name="_InvoicePartial" model="ViewData"  /> 
</div>

