@using DirectScale.Disco.Extension.Services
@using WebExtension.Services
@using WebExtension.Views.Model
@inject OrderWebService OrderService

@{
    ViewBag.PageTitle = "Invoice";
    List<Invoice> invoice = (List<Invoice>)ViewData["InvoiceDataAll"];
}

<link href="/Styles/print.css" rel="stylesheet" />
<h2 class="center">Shipping Invoices</h2>
<div class="container">
    @foreach (Invoice invoiceitem in invoice)
    {
        <partial name="_InvoicePartial" model="invoiceitem" />
    }
</div>

