
@media print {
    tr .bom

{
    background-color: #f3f2f3 !important;
}

tr.item {
    background-color: #d5d2d5 !important;
}

tr {
    background-color: #E6E6E6 !important;
}

.item td {
    line-height: 24px;
    border-collapse: collapse;
    border-top: 1px solid #fff;
}

table {
    border-collapse: collapse !important;
}

}

tr.item {
    background-color: #d5d2d5 !important;
}

tr {
    background-color: #E6E6E6 !important;
}

table {
    width: 100%;
    margin: 15px;
}

td {
    vertical-align: top;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
    border-spacing: 0;
    border-collapse: collapse;
}

thead {
    background-color: #E6E6E6 !important;
    font-weight: bold;
    font-size: 10pt;
    font-family: 'Roboto', sans-serif;
}

.bold {
    font-weight: bold;
}

.row {
    width: 350px;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}

    .row .heading {
        font-weight: bold;
        float: left;
        font-size:12px;
    }

    .rowdetail{
        font-weight: bold;
        float: left;
        font-size: 12px;
    }

    .row .headingprominent {
        font-weight: bold;
        float: left;
        font-size:x-large;
    }

    .row .value {
        width: 300px;
    }

    .row .valueprominent {
        font-weight: bold;
        width: 300px;
        font-size:x-large;
    }

.center {
    text-align: center;
    font-family: 'Roboto', sans-serif
}

.bom {
    background-color: #f3f2f3 !important;
    font-size: 10pt;
}

.clear_margin {
    margin: 0px;
}

.container {
    width: 720px;
    font-size: 12px;
}

.item td {
    line-height: 24px;
    border-collapse: collapse;
    border-top: 1px solid #fff;
    font-size: 12px;
    /* border-bottom: 1px solid #fff; */
}

table {
    border-collapse: collapse !important;
}

.max-w-lg {
    max-width: 32rem;
    height: 3rem;
}

